//============= footer =============================
.footer-full-area-wrap {
  margin: 80px 0;
  margin-bottom: 30px;
  .footer-inner-container {
    border-top: 1px solid #e2e2e2;
    padding-top: 60px;
    .footer-left-content {
      p {
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 150%; /* 24px */
        letter-spacing: 0.24px;
        text-transform: capitalize;
        margin-bottom: 4px;
      }
      h3 {
        font-size: 64px;
        font-style: normal;
        font-weight: 600;
        line-height: 150%; /* 96px */
        letter-spacing: 0.96px;
        text-transform: capitalize;
        @media (max-width: 1200px) {
          font-size: 54px;
        }
        @media (max-width: 992px) {
          font-size: 44px;
        }
        @media (max-width: 767px) {
          font-size: 36px;
        }
        @media (max-width: 450px) {
          font-size: 28px;
        }
      }
      .social-media-links {
        display: flex;
        align-items: center;
        gap: 8px;
        @media (max-width: 991px) {
          display: none;
        }
        p {
          margin-bottom: 0;
        }
        ul {
          list-style: none;
          padding-left: 0;
          display: flex;
          align-items: center;
          gap: 14px;
          margin-bottom: 4px;

          li {
            a {
              display: block;
              svg {
                height: 18px;

                path {
                  fill: rgb(64, 64, 64);
                }
              }
            }
          }
        }
      }
    }
    .footer-right-image {
      display: flex;
      align-items: center;
      justify-content: space-between;
      img {
        width: auto;
        &:first-child {
          @media (max-width: 992px) {
            height: 80px;
          }
          @media (max-width: 767px) {
            height: 50px;
          }
          @media (max-width: 450px) {
            height: 40px;
          }
        }
        &:last-child {
          height: 250px;
          @media (max-width: 1200px) {
            height: 170px;
          }
          @media (max-width: 992px) {
            height: 120px;
          }
          @media (max-width: 576px) {
            height: 100px;
          }
          @media (max-width: 450px) {
            height: 80px;
          }
        }
      }
    }
    .responsive-mobile-social {
      display: none;
      @media (max-width: 991px) {
        display: block;
        margin-top: 30px;
      }
      .social-media-links {
        display: flex;
        align-items: center;
        gap: 8px;
        p {
          margin-bottom: 0;
        }
        ul {
          list-style: none;
          padding-left: 0;
          display: flex;
          align-items: center;
          gap: 14px;
          margin-bottom: 4px;

          li {
            a {
              display: block;
              svg {
                height: 18px;

                path {
                  fill: rgb(64, 64, 64);
                }
              }
            }
          }
        }
      }
    }
  }
}
