// @import "https://api.fontshare.com/v2/css?f[]=general-sans@200,500,300,600,400,700&display=swap";
@import "scss/header/header.scss";
@import "scss/footer/footer.scss";
@import "scss/home/home.scss";
@import "scss/about/about.scss";

//============ Custom fonts =================

@font-face {
  font-family: "Amsterdam One";
  src: url("/fonts/Amsterdam-One.woff2") format("woff2"),
    url("/fonts/Amsterdam-One.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Amsterdam Two_ttf";
  src: url("/fonts/Amsterdam-Two_ttf.woff2") format("woff2"),
    url("/fonts/Amsterdam-Two_ttf.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

//============================
body {
  font-family: "GeneralSans-Medium";
  .text-secondary-color {
    color: #f64749;
  }
  p {
    font-family: "GeneralSans-Medium";
  }
  h1,
  h2,
  h3 {
    font-family: "GeneralSans-Semibold";
    font-weight: 600;
  }
  button.about-slider-next-btn {
    width: 70px;
    background: #ffffff !important;
    display: flex;
    position: absolute;
    right: -2px;
    top: 0;
    z-index: 9;
    height: 100%;
    align-items: center;
    justify-content: flex-end;
    transition: 0.3s;
    &::after {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      background: #fff;
      top: 0;
      right: -100%;
    }
  }
  button.about-slider-prev-btn {
    width: 70px;
    background: #ffffff !important;
    display: flex;
    position: absolute;
    left: -2px;
    top: 0;
    z-index: 9;
    height: 100%;
    align-items: center;
    z-index: 2;
    transition: 0.3s;
    &::after {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      background: #fff;
      top: 0;
      left: -100%;
    }
  }
}
