//==============
.hero-main-area {
  .hero-inner-container {
    .about-hero-left-items {
      height: 100%;
      display: flex;
      align-items: center;
      ul {
        padding-left: 0;
        list-style: none;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        height: 70%;
        li {
          font-size: 30px;
          font-style: normal;
          font-weight: 600;
          line-height: normal;
          letter-spacing: 0.6px;
          text-transform: capitalize;
          font-family: "GeneralSans-Semibold";
          display: flex;
          align-items: center;
          gap: 10px;
          @media (max-width: 1024px) {
            font-size: 22px;
            svg {
              width: 30px;
              height: 30px;
            }
          }
        }
      }
    }
    .about-hero-middle-items {
      img {
        width: 100%;
        height: auto;
      }
    }
    .about-hero-right-items {
      height: 100%;
      display: flex;
      align-items: center;
      ul {
        padding-left: 0;
        list-style: none;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        height: 70%;
        align-items: flex-end;
        li {
          font-size: 30px;
          font-style: normal;
          font-weight: 600;
          line-height: normal;
          letter-spacing: 0.6px;
          text-transform: capitalize;
          font-family: "GeneralSans-Semibold";
          display: flex;
          align-items: center;
          gap: 10px;
          @media (max-width: 1024px) {
            font-size: 22px;
            svg {
              width: 30px;
              height: 30px;
            }
          }
        }
      }
    }
    &.responsive-about-hero {
      .about-hero-left-items {
        min-height: 500px;
        padding-top: 100px;
        ul {
          padding-left: 0;
          list-style: none;
          display: block;
          width: 100%;
          height: auto;
          li {
            margin-bottom: 26px;
            &:nth-child(even) {
              justify-content: flex-end;
            }
          }
        }
      }
    }
  }
}
//============================About Details
.about-details-full-area {
  .about-details-inner-container {
    .about-details-top-content {
      margin-bottom: 40px;
      p {
        font-size: 32px;
        font-style: normal;
        font-weight: 500;
        line-height: 170%;
        letter-spacing: 0.48px;
        text-transform: capitalize;
        margin-bottom: 30px;
        @media (max-width: 1024px) {
          font-size: 26px;
        }
        @media (max-width: 768px) {
          font-size: 22px;
        }
        @media (max-width: 576px) {
          font-size: 18px;
        }
      }
    }
    .about-work-info {
      margin-top: 20px;
      h4 {
        font-size: 36px;
        font-style: normal;
        font-weight: 600;
        line-height: 135%; /* 48.6px */
        letter-spacing: 0.54px;
        text-transform: capitalize;
        font-family: "GeneralSans-Semibold";
        display: flex;
        align-items: center;
        gap: 8px;
        @media (max-width: 768px) {
          font-size: 28px;
          svg {
            width: 24px;
            height: 20px;
          }
        }
        @media (max-width: 576px) {
          font-size: 24px;
        }
      }
      p {
        margin-bottom: 4px;
        font-size: 24px;
        font-style: normal;
        font-weight: 500;
        line-height: 150%;
        letter-spacing: 0.36px;
        text-transform: capitalize;
        @media (max-width: 768px) {
          font-size: 22px;
        }
        @media (max-width: 576px) {
          font-size: 18px;
        }
      }
    }
  }
}
//============
.about-experience-full-area {
  margin: 50px 0px;
  .about-experience-inner-container {
    .digital-capabilities-wrap {
      margin-bottom: 40px;
      .digital-capabilities-header {
        margin-bottom: 40px;
        h3 {
          font-size: 36px;
          font-style: normal;
          font-weight: 600;
          line-height: 135%; /* 48.6px */
          letter-spacing: 0.54px;
          text-transform: capitalize;
          font-family: "GeneralSans-Semibold";
          display: flex;
          align-items: center;
          gap: 8px;
          @media (max-width: 768px) {
            font-size: 28px;
            svg {
              width: 24px;
              height: 20px;
            }
          }
          @media (max-width: 576px) {
            font-size: 24px;
          }
        }
      }
      .digital-capabilities {
        display: flex;
        justify-content: space-between;
        align-items: baseline;
        overflow-x: scroll;
        gap: 10px;
        &::-webkit-scrollbar {
          display: none;
        }
        .digital-capabilities-single-item-wrap {
          width: 200px;
          h6 {
            margin-top: 14px;
            text-align: center;
            font-size: 20px;
            font-style: normal;
            font-weight: 500;
            line-height: 135%; /* 27px */
            letter-spacing: 0.3px;
            text-transform: capitalize;
          }
          p {
            text-align: center;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 170%; /* 27.2px */
            letter-spacing: 0.24px;
            text-transform: capitalize;
            font-family: "GeneralSans-Regular";
          }
          .digital-capabilities-single-item {
            width: 200px;
            height: 150px;
            border-radius: 8px;
            padding: 15px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            img {
              width: unset;
              height: 80px;
            }
          }
        }
      }
    }
  }
}
//=================

.about-slider-wrap {
  margin-bottom: 60px;
  overflow: hidden;
  .about-slider-header {
    margin-bottom: 40px;
    h3 {
      font-size: 36px;
      font-style: normal;
      font-weight: 600;
      line-height: 135%; /* 48.6px */
      letter-spacing: 0.54px;
      text-transform: capitalize;
      font-family: "GeneralSans-Semibold";
      display: flex;
      align-items: center;
      gap: 8px;
      @media (max-width: 768px) {
        font-size: 28px;
        svg {
          width: 24px;
          height: 20px;
        }
      }
      @media (max-width: 576px) {
        font-size: 24px;
      }
    }
  }
  .about-slider-inner-container {
    .about-slider-single-item.slide-1 {
      img {
        border-radius: 20px 0px 0px 20px !important;
      }
    }
    .about-slider-single-item.slide-6 {
      img {
        border-radius: 0px 20px 20px 0px !important;
      }
    }

    .slick-list {
      margin: 0 -10px;
    }
    .slick-slide > div {
      padding: 0 10px;
    }
    .about-slider-single-item {
      img {
        width: 100%;
        @media (max-width: 767px) {
          height: 280px;
        }
      }
    }
  }
}
//=============================
.about-call-to-action-full-area {
  background: #fff6f7;
  min-height: 236px;
  display: flex;
  align-items: center;
  text-align: center;
  .about-call-to-action-inner-container {
    .single-cta-content {
      p {
        font-size: 36px;
        font-style: normal;
        font-weight: 600;
        line-height: 135%; /* 48.6px */
        letter-spacing: 0.54px;
        text-transform: capitalize;
        font-family: "GeneralSans-Semibold";
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 8px;
        @media (max-width: 768px) {
          font-size: 28px;
          svg {
            width: 24px;
            height: 20px;
          }
        }
        @media (max-width: 576px) {
          font-size: 24px;
        }
        svg {
          width: 22px;
          height: 22px;
          path {
            fill: rgb(46, 194, 241);
          }
        }
      }
      a {
        font-size: 36px;
        font-style: normal;
        font-weight: 600;
        line-height: 135%; /* 48.6px */
        letter-spacing: 0.54px;
        text-transform: capitalize;
        font-family: "GeneralSans-Semibold";
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 8px;
        color: #141414;
        @media (max-width: 768px) {
          font-size: 28px;
          svg {
            width: 24px;
            height: 20px;
          }
        }
        @media (max-width: 576px) {
          font-size: 24px;
        }
        svg {
          width: 30px;
          height: 30px;
          margin-bottom: -4px;
        }
      }
    }
  }
}
