//=============hero styles ==========

.hero-main-area {
  height: calc(100vh - 100px);
  .hero-bg-shadow-left {
    position: absolute;
    z-index: -1;
    top: 0;
  }
  .hero-bg-shadow-right {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
  }
  .hero-left-content {
    h1 {
      font-size: 90px;
      font-weight: 700;
      line-height: 135%;
      &.curious-title {
        position: relative;
        z-index: 2;
        svg.icon-left {
          position: relative;
          margin-right: -20px;
        }
        svg.icon-right {
          margin-left: -27px;
          position: relative;
          top: -36px;
          z-index: -1;
        }
      }
      span.hero-research-emoji {
        position: relative;
        display: inline-block;
        svg {
          position: absolute;
          top: 23px;
          left: -10px;
          width: 84px;
        }
      }
    }
  }
  .hero-right-content {
    position: relative;
    height: calc(100vh - 100px);
    > svg {
      position: absolute;
    }
    img {
      width: 100%;
    }
  }
}
