//=============hero styles ==========

.hero-main-area {
  min-height: 100vh;
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;

  .hero-bg-shadow-left {
    position: absolute;
    z-index: -1;
    top: 0;
  }
  .hero-bg-shadow-right {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
  }
  .hero-left-content {
    @media (max-width: 992px) {
      min-height: 500px;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      // align-items: center;
      margin-bottom: 30px;
    }

    p {
      font-size: 24px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
      letter-spacing: 0.36px;
      margin-bottom: 14px;
      span {
        color: #f64749;
        &.text-color-bangladesh {
          background: linear-gradient(
            162deg,
            #0fa602 0%,
            #ca1416 63.46%,
            #e00103 94.27%
          );
          background-clip: text;
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;

          font-size: 24px;
          font-style: normal;
          font-weight: 500;
          line-height: normal;
          letter-spacing: 0.36px;
        }
      }
    }
    h1 {
      font-size: 84px;
      line-height: 135%;
      @media (max-width: 1200px) {
        font-size: 70px;
      }
      @media (max-width: 992px) {
        font-size: 54px;
      }
      @media (max-width: 768px) {
        font-size: 44px;
      }
      &.curious-title {
        position: relative;
        z-index: 2;
        svg.icon-left {
          position: relative;
          margin-right: -16px;
          width: 50px;
          height: 50px;
        }
        svg.icon-right {
          margin-left: -27px;
          position: relative;
          top: -36px;
          z-index: -1;
          width: 70px;
          height: 70px;
          @media (max-width: 1200px) {
            width: 60px;
            height: 60px;
            top: -20px;
            margin-left: -20px;
          }
          @media (max-width: 768px) {
            width: 50px;
            height: 50px;
            top: -20px;
            margin-left: -20px;
          }
        }
      }
      svg.icon-bottom-right {
        height: 64px;
        position: relative;
        bottom: 8px;
        @media (max-width: 768px) {
          height: 54px;
        }
      }
      span.hero-research-emoji {
        position: relative;
        display: inline-block;
        svg {
          position: absolute;
          position: absolute;
          top: 15px;
          left: -8px;
          width: 76px;
          @media (max-width: 1200px) {
            top: -5px;
            left: -6px;
            width: 60px;
          }
          @media (max-width: 992px) {
            top: -18px;
            left: -5px;
            width: 46px;
          }
        }
      }
    }
    p.hero-left-bottom-color-info {
      color: #141414;

      font-size: 24px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
      letter-spacing: 0.36px;
      span {
        color: #2ec2f1;
      }
    }
  }
  .hero-right-content {
    position: relative;
    height: calc(100vh - 100px);
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    justify-content: center;
    @media (max-width: 992px) {
      height: auto;
      align-items: center;
      margin-bottom: 40px;
    }
    > svg {
      position: absolute;
    }
    img {
      width: 100%;
      height: auto;
      @media (max-width: 992px) {
        width: 400px;
      }
    }
    .hero-social-media {
      display: flex;
      justify-content: flex-end;
      @media (max-width: 991px) {
        width: 100%;
      }
      .social-media-links {
        display: flex;
        align-items: flex-end;
        gap: 8px;
        @media (max-width: 991px) {
          display: none;
        }
        p {
          margin-bottom: 0;
          font-size: 14px;
          font-style: normal;
          font-weight: 500;
          line-height: normal;
          letter-spacing: 0.21px;
          font-family: "GeneralSans-Medium";
        }
        ul {
          display: flex;
          padding-left: 0;
          margin-bottom: 0;
          list-style: none;
          gap: 14px;
          align-items: center;
          li {
            a {
              display: block;
              svg {
                height: 18px;
                path {
                  fill: rgba(64, 64, 64, 1);
                }
              }
            }
          }
        }
      }
      .message-icon {
        display: none;
        @media (max-width: 991px) {
          display: block;
        }
        a img {
          width: 70px;
          height: 70px;
        }
      }
    }
  }
}
//============ Service ===============

.service-full-area {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 210px;
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: center;
  @media (max-width: 992px) {
    min-height: 160px;
  }
  .service-container-outer-wrap {
    background: #fff;
    width: 100%;
    border-top: 1px solid #f4787b;
    border-bottom: 1px solid #f4787b;
    padding: 14px 0;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    @media (max-width: 992px) {
      height: 80px;
    }
    .service-inner-container {
      .service-items-wrap {
        display: flex;
        align-items: center;
        justify-content: space-between;
        overflow-x: scroll;
        &::-webkit-scrollbar {
          display: none;
        }
        .service-single-item {
          &.content-box {
            @media (max-width: 992px) {
              h4 {
                width: 130px;
                text-align: center;
              }
            }
          }
          h4 {
            font-family: "GeneralSans-Semibold";
            font-size: 32px;
            font-style: normal;
            font-weight: 600;
            line-height: normal;
            letter-spacing: 0.48px;
            text-transform: capitalize;
            margin-bottom: 0;
            @media (max-width: 1200px) {
              font-size: 22px;
            }
            @media (max-width: 992px) {
              font-size: 16px;
            }
          }
          @media (max-width: 992px) {
            svg {
              width: 26px;
              height: 26px;
            }
          }
        }
      }
    }
  }
}
//================= Gallery =============
.gallery-full-area {
  margin: 80px 0;
  .gallery-inner-container {
    .gallery-header {
      margin-bottom: 60px;
      .gallery-header-top {
        a {
          display: inline-flex;
          align-items: center;
          text-decoration: none;
          margin-bottom: 20px;
          font-size: 24px;
          font-style: normal;
          font-weight: 600;
          color: #f64749;
        }
      }
      .gallery-header-bottom {
        text-align: center;
        h3 {
          color: #141414;
          font-size: 80px;
          font-style: normal;
          font-weight: 600;
          line-height: 125%;
          letter-spacing: 1.44px;
          text-transform: capitalize;
          margin-bottom: 20px;
          @media (max-width: 1200px) {
            font-size: 60px;
            margin-bottom: 14px;
          }
          @media (max-width: 992px) {
            font-size: 48px;
            margin-bottom: 14px;
          }
          @media (max-width: 767px) {
            font-size: 40px;
            margin-bottom: 14px;
          }
          svg {
            position: relative;
            transform: rotate(47deg);
            margin-right: -24px;
            margin-top: -74px;
            @media (max-width: 576px) {
              margin-right: -17px;
              margin-top: -44px;
              width: 30px;
              height: 30px;
            }
            path {
              fill: rgba(233, 202, 28, 1);
            }
          }
        }
        p {
          color: #141414;
          text-align: center;
          font-size: 24px;
          font-style: normal;
          font-weight: 500;
          line-height: 150%; /* 36px */
          letter-spacing: 0.36px;
          @media (max-width: 1200px) {
            font-size: 20px;
          }
          @media (max-width: 992px) {
            font-size: 16px;
          }
          @media (max-width: 768px) {
            br {
              display: none;
            }
          }
          span.gallery-color-text-sub-title {
            font-family: "Amsterdam one";
            color: rgb(46, 194, 241);
            font-size: 14px;
            font-weight: 600;
          }
        }
      }
    }
    .gallery-card-content-wrap {
      .single-gallery-card {
        padding: 30px;
        border-radius: 8px;
        margin-bottom: 24px;
        @media (max-width: 576px) {
          padding: 20px;
        }
        img {
          width: 100%;
          border-radius: 8px;
          object-fit: cover;
          @media (max-width: 1024px) {
            max-height: 300px;
          }
          @media (max-width: 576px) {
            max-height: 220px;
          }
        }
        .g-card-bottom-area {
          margin-top: 30px;
          margin-bottom: 20px;
          h4 {
            font-family: "GeneralSans-Semibold";
            font-size: 32px;
            font-style: normal;
            font-weight: 600;
            line-height: normal;
            letter-spacing: 0.48px;
            text-transform: capitalize;
            @media (max-width: 1024px) {
              font-size: 26px;
            }
          }
          p {
            font-size: 20px;
            font-style: normal;
            font-weight: 400;
            line-height: 150%; /* 30px */
            letter-spacing: 0.3px;
            @media (max-width: 1024px) {
              font-size: 18px;
            }
          }
          a {
            color: #f64749;
            text-decoration: none;
            font-size: 24px;
            font-style: normal;
            font-weight: 600;
            line-height: 150%; /* 36px */
            letter-spacing: 0.36px;
            display: flex;
            align-items: center;
            @media (max-width: 1024px) {
              font-size: 18px;
            }
            svg {
              width: 26px;
              height: 26px;
              position: relative;
              top: 4px;
              @media (max-width: 1024px) {
                width: 20px;
                height: 20px;
                top: 0px;
              }
            }
          }
        }
      }
      .gallery-bottom-see-more-btn {
        text-align: center;
        margin-top: 40px;
        a {
          color: #f64749;

          font-size: 24px;
          font-style: normal;
          font-weight: 600;
          line-height: 150%; /* 36px */
          letter-spacing: 0.36px;
          display: flex;
          align-items: center;
          justify-content: center;
          font-family: "GeneralSans-Semibold";
          svg {
            width: 26px;
            height: 26px;
            position: relative;
            top: 4px;
          }
        }
      }
    }
  }
}

//================= Writing styles============
.writing-full-area {
  margin: 80px 0;
  .writing-inner-container {
    .writing-header-area {
      text-align: center;
      margin-bottom: 60px;
      @media (max-width: 992px) {
        margin-bottom: 40px;
      }
      h2 {
        font-size: 80px;
        font-style: normal;
        font-weight: 600;
        line-height: 125%;
        letter-spacing: 1.44px;
        text-transform: capitalize;
        margin-bottom: 20px;
        @media (max-width: 1200px) {
          font-size: 60px;
          margin-bottom: 14px;
        }
        @media (max-width: 992px) {
          font-size: 48px;
          margin-bottom: 14px;
        }
        @media (max-width: 767px) {
          font-size: 40px;
          margin-bottom: 14px;
        }
        svg {
          margin-left: -51px;
          position: relative;
          top: -20px;
          @media (max-width: 576px) {
            margin-left: -26px;
            top: -15px;
            width: 30px;
            height: 30px;
          }
        }
      }
      p {
        font-size: 24px;
        font-style: normal;
        font-weight: 500;
        line-height: 150%; /* 36px */
        letter-spacing: 0.36px;
        text-transform: capitalize;
        @media (max-width: 1200px) {
          font-size: 20px;
        }
      }
    }
    .writing-card-area-wrap {
      display: flex;
      gap: 14px;
      justify-content: space-between;
      @media (max-width: 992px) {
        overflow-x: scroll;
        height: 270px;
        align-items: center;
        padding-left: 8px;
        &::-webkit-scrollbar {
          display: none;
        }
      }
      .writing-single-card {
        width: 24%;
        height: 360px;
        flex-shrink: 0;

        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 30px;
        border-radius: 14px;
        @media (max-width: 1024px) {
          height: 250px;
        }
        @media (max-width: 992px) {
          height: 250px;
          width: 250px;
        }
        h4 {
          font-size: 28px;
          font-family: "GeneralSans-Semibold";

          font-style: normal;
          font-weight: 600;
          line-height: normal;
          letter-spacing: 0.48px;
          text-transform: capitalize;
          @media (max-width: 1024px) {
            font-size: 22px;
          }
        }
        a {
          display: flex;
          align-items: center;
          gap: 4px;
          font-size: 20px;
          font-style: normal;
          font-weight: 600;
          line-height: 150%; /* 30px */
          letter-spacing: 0.3px;
          text-transform: capitalize;
          text-decoration: none;
          font-family: "GeneralSans-Semibold";
          @media (max-width: 1024px) {
            font-size: 18px;
          }
          svg {
            position: relative;
            top: 3px;
            width: 24px;
            height: 24px;
          }
        }
        &.w-card-1 {
          background: #ffe3e6;
          transform: rotate(-1.725deg);
          a {
            color: #f64749;
            svg {
              path {
                fill: #f64749;
              }
            }
          }
        }
        &.w-card-2 {
          background: #e1faed;
          transform: rotate(1.575deg);
          a {
            color: #39771d;
            svg {
              path {
                fill: #39771d;
              }
            }
          }
        }
        &.w-card-3 {
          background: #f1e6b8;
          transform: rotate(-1.899deg);
          a {
            color: #ea9404;
            svg {
              path {
                fill: #ea9404;
              }
            }
          }
        }
        &.w-card-4 {
          background: #ebeaff;
          transform: rotate(2.295deg);
          a {
            color: #a19cff;
            svg {
              path {
                fill: #a19cff;
              }
            }
          }
        }
      }
    }
  }
}
